[submodule "nodemcu-firmware"]
	path = nodemcu-firmware
	url = https://github.com/nodemcu/nodemcu-firmware.git
[submodule "crosstool-NG"]
	path = crosstool-NG
	url = git://github.com/jcmvbkbc/crosstool-NG.git
	branch = lx106
[submodule "esptool-ck"]
	path = esptool-ck
	url = https://github.com/tommie/esptool-ck
[submodule "esptool_py"]
	path = esptool_py
	url = https://github.com/themadinventor/esptool
[submodule "ESP8266_SDK"]
	path = ESP8266_SDK
	url = https://github.com/Jazznight/ESP8266_SDK.git
